/.settings/
/RemoteSystemsTempFiles/
/perf.data
/perf.data.old
/bin/
/build/
/.pydevproject
/*.vcxproj
/*.filters
/*.user
/*.sdf
/*.suo
/*.sln
/*.dir/
/Win32/
/x64/
/.vs/
/Debug/
/Release/
/.vscode/
