/CMakeFiles/
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/.settings/
/perf.data
/perf.data.old
/bin/
/.pydevproject
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/libzetscript.sdf
/libzetscript.sln
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/zetscript.vcxproj
/zetscript.vcxproj.filters
/Win32/
/zetscript.dir/
/libzetscript.v12.suo
/build/
/x64/
/.vs/
/zetscript.vcxproj.user
/Debug/
/install_manifest.txt
/Release/
/zs_test.dir/
/zs.dir/
/helloworld.vcxproj
/helloworld.vcxproj.filters
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/register_class.vcxproj
/register_class.vcxproj.filters
/register_function.vcxproj
/register_function.vcxproj.filters
/register_variable.vcxproj
/register_variable.vcxproj.filters
/script_call_from_cpp.vcxproj
/script_call_from_cpp.vcxproj.filters
/zetscript.sdf
/zetscript.sln
/zetscript.v12.suo
/zs_test.vcxproj
/zs_test.vcxproj.filters
/zs.vcxproj
/zs.vcxproj.filters
/zs_test.vcxproj.user
/zs.vcxproj.user
/.metadata/
/RemoteSystemsTempFiles/
/zs.psess
