/CMakeFiles/
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/.settings/
/perf.data
/perf.data.old
/bin/
/.pydevproject
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/libzetscript.sdf
/libzetscript.sln
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/zetscript.vcxproj
/zetscript.vcxproj.filters
/Win32/
/zetscript.dir/
/libzetscript.v12.suo
/build/
/x64/
/.vs/
/zetscript.vcxproj.user
/Debug/
/install_manifest.txt
