/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url("//fonts.googleapis.com/css?family=Noto+Sans:300,600italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700");
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */

:root{
--maincolor:#FFFFFF;
--primarycolor:black;
--secondarycolor:black;
--tertiarycolor: #186d7a;
--sidebarbackground:#CCC;
--linkcolor:#b71c1c;
--linkcoloralternate:#f44336;
--white:#FFFFFF;
--black:#000000;
}

/* Text styles */
h1{color:var(--primarycolor) !important;font-weight:bold !important;}
h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;font-weight:500 !important;}

h2{
	font-size:2.3125em !important;
}

h3{
	font-size:2.0em !important;
}

h4{
	font-size:1.8em !important;
}

h5{
	font-size:1.6em !important;
}

h6{
	font-size:1.4em !important;
}


.title{color:var(--tertiarycolor) !important; font-family:"Noto Sans",sans-serif !important;font-style: normal !important; font-weight: normal !important;}
p{font-family: "Noto Sans",sans-serif !important}

/* Table styles */
th{font-family: "Noto Sans",sans-serif !important}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

/*custom title with solid line bottom*/
.discrete{
	font-weight:600 !important;	
	color:black !important;
	border-bottom: solid 1px silver;
	font-size: 1em !important;
}

/* DO NOT PUT ANYTHING AFTER THIS LINE OR CSS HAS NOT EFFECT */

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}

