/.pydevproject
/.settings/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/bin/
/cmake_install.cmake
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/Debug/
/Release/
/Win32/
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/zetscript_dev.dir/
/zetscript_dev.vcxproj
/zetscript_dev.vcxproj.filters
/zs_dev.dir/
/zs_dev.sln
/zs_dev.vcxproj
/zs_dev.vcxproj.filters
/zs_dev.vcxproj.user
/.vs/
